@model IEnumerable<PIAdvisingApp.ViewModels.PiAdvisingBondViewModel>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Modal Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>BookingNo</th>
                        <th>CategoryName</th>
                        <th>ProductName</th>
                        <th>BondName</th>
                        <th>InvoiceQty</th>
                        <th>QuantityUnit</th>
                        <th>Measurement</th>
                        <th>MeasureUnit</th>
                        <th>HSCode</th>
                        <th>CustomerName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BookingNo</td>
                            <td>@item.CategoryName</td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="name" value="@item.ProductName" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="name" value="@item.BondName" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="name" value="@item.InvoiceQty" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="name" value="@item.QuantityUnit" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="name" value="@item.Measurement" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="name" value="@item.MeasureUnit" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="name" value="@item.HSCode" />
                            </td>
                            <td>@item.CustomerName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
