@model  IEnumerable<PIAdvisingApp.ViewModels.AdvisePiFromRepResult>


<div class="main-card mb-1 card p-1">
    <div class="card-body p-1">
        <h5 class="card-title">Booking List</h5>
        <div class="table-responsive">
            <table id="booking-list-table" class="mb-0 table table-sm table-bordered">
                <thead>
                    @{ int rowNo = 1;}
                    <tr>
                        <th>SL</th>
                        <th><input class="select-all m-2" type="checkbox" /></th>
                        <th class="text-center">Booking No</th>
                        <th class="text-center d-none">Booking Id</th>
                        <th class="text-center">Booking Date</th>
                        <th class="text-center">PI Status</th>
                        <th class="text-center  d-none">Customer Name</th>
                        <th class="text-center  d-none">Representative Name</th>
                        <th class="text-center  d-none">Short Name</th>
                        <th class="text-center">Booking Qty</th>
                        <th class="text-center">Booking Value</th>
                        <th class="text-center">Retailer Name</th>
                        <th class="text-center">Delivery (%)</th>
                        <th class="text-center">Category Name</th>
                        <th class="text-center">Company Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-retailer-id="@item.RetailerId">
                            <td>@rowNo @{rowNo++;}</td>
                            <td class="text-center"><input class="selected-item" type="checkbox" name="selectedItems" value="@item.BookingId" /></td>
                            <td class="text-center BookingNo">@item.BookingNo</td>
                            <td class="text-center BookingId  d-none">@item.BookingId</td>

                            <td class="text-center BookingDate">@item.BookingDate</td>
                            <td class="text-center PIStatus">@item.PIStatus</td>
                            <td class="text-center CustomerName  d-none">@item.CustomerName</td>
                            <td class="text-center RepresentativeName  d-none">@item.RepresentativeName</td>
                            <td class="text-center ShortName  d-none">@item.ShortName</td>

                            <td class="text-center BookingQty">@item.BookingQty</td>
                            @MyHelpers.FinancialNumberRoundedTd(item.BookingValue, "td-green BookingValue")
                            @*<td class="text-center">@item.BookingValue</td>*@
                            <td class="text-center RetailerName">@item.RetailerName</td>
                            <td class="text-center DeliveryPercentage">@item.DeliveryPercentage</td>
                            <td class="text-center CategoryName">@item.CategoryName</td>
                            <td class="text-center CompanyName">@item.CompanyName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    /*$('#booking-list-table').DataTable();*/
    $('#booking-list-table').DataTable();
    $('.select-all').click(function () {
        if ($(this).is(':checked')) {
            $('.selected-item').prop('checked', true);
        } else {
            $('.selected-item').prop('checked', false);
        }
        //trigger selected-item onchange
        $('.selected-item').trigger('change');
    });
</script>