@model  IEnumerable<PIAdvisingApp.ViewModels.AdvisePiFromRepResult>


<div class="main-card mb-1 card p-1">
    <div class="card-body p-1">
        <h5 class="card-title">Table bordered</h5>
        <div class=" table-responsive">
            <table class="mb-0 table table-sm table-bordered">
                <thead>
                    @{ int rowNo = 1;}
                    <tr>
                        <th>SL</th>
                        <th>Select</th>
                        <th class="text-center">Booking No</th>
                        <th class="text-center">Booking Id</th>
                        <th class="text-center">Booking Date</th>
                        <th class="text-center">PI Status</th>
                        <th class="text-center">Customer Name</th>
                        <th class="text-center">Representative Name</th>
                        <th class="text-center">Short Name</th>
                        <th class="text-center">Booking Qty</th>
                        <th class="text-center">Booking Value</th>
                        <th class="text-center">Retailer Name</th>
                        <th class="text-center">Delivery (%)</th>
                        <th class="text-center">Category Name</th>
                        <th class="text-center">Company Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@rowNo</td>
                            <td class="text-center"><input class="selected-item" type="checkbox" name="selectedItems" value="@item.BookingId" /></td>
                            <td class="text-center BookingNo">@item.BookingNo</td>
                            <td class="text-center BookingId">@item.BookingId</td>

                            <td class="text-center BookingDate">@item.BookingDate</td>
                            <td class="text-center PIStatus">@item.PIStatus</td>
                            <td class="text-center CustomerName">@item.CustomerName</td>
                            <td class="text-center RepresentativeName">@item.RepresentativeName</td>
                            <td class="text-center ShortName">@item.ShortName</td>

                            <td class="text-center BookingQty">@item.BookingQty</td>
                            @MyHelpers.FinancialNumberRoundedTd(item.BookingValue, "td-green BookingValue")
                            @*<td class="text-center">@item.BookingValue</td>*@
                            <td class="text-center RetailerName">@item.RetailerName</td>
                            <td class="text-center DeliveryPercentage">@item.DeliveryPercentage</td>
                            <td class="text-center CategoryName">@item.CategoryName</td>
                            <td class="text-center CompanyName">@item.CompanyName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
