@model IEnumerable<PIAdvisingApp.ViewModels.PiAdvisingBondViewModel>
<div style="height: 400px; overflow-y: scroll;">
    <table class="mb-0 table table-bordered table-hover" id="added-table">
        <thead style="position: sticky; top: 0; background-color: #fff;">
            <tr>
                <th>BookingNo</th>
                <th>CategoryName</th>
                <th>ProductName</th>
                <th>BondName</th>
                <th>InvoiceQty</th>
                <th>QuantityUnit</th>
                <th>Measurement</th>
                <th>MeasureUnit</th>
                <th>HSCode</th>
                <th>CustomerName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookingNo</td>
                    <td>@item.CategoryName</td>
                    <td><input type="text" class="form-control form-control-sm m-0 p-0" name="name" value="@item.ProductName" /></td>
                    <td><input type="text" class="form-control form-control-sm m-0 p-0" name="name" value="@item.BondName" /></td>
                    <td><input type="text" class="form-control form-control-sm m-0 p-0" name="name" value="@item.InvoiceQty" /></td>
                    <td><input type="text" class="form-control form-control-sm m-0 p-0" name="name" value="@item.QuantityUnit" /></td>
                    <td><input type="text" class="form-control form-control-sm m-0 p-0" name="name" value="@item.Measurement" /></td>
                    <td><input type="text" class="form-control form-control-sm m-0 p-0" name="name" value="@item.MeasureUnit" /></td>
                    <td><input type="text" class="form-control form-control-sm m-0 p-0" name="name" value="@item.HSCode" /></td>
                    <td>@item.CustomerName</td>
                </tr>
            }
        </tbody>
    </table>
</div>