﻿@model IEnumerable<PIAdvisingApp.ViewModels.PiAdvisingBondMainViewModel>
@section Css {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" />

    <style>
        .tbody, td, th {
            padding: 2px !important;
            font-size: 11px !important;
        }

        .modal-backdrop {
            z-index: 10 !important
        }
    </style>
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>
                Pending PI for Bond Review
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <div class="main-card mb-6 card">
        <div class="card-body">
            <div class="form-group">
                <label for="rep-filter">Filter by Representative Name:</label>
                <select class="form-control" id="rep-filter">
                    <option value="">All</option>
                    @foreach (var rep in Model.Select(x => x.RepName).Distinct())
                    {
                        <option value="@rep">@rep</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="customer-filter">Filter Customer Name:</label>
                <select class="form-control" id="customer-filter">
                    <option value="">All</option>
                    @foreach (var customerName in Model.Select(x => x.CustomerName).Distinct())
                    {
                        <option value="@customerName">@customerName</option>
                    }
                </select>
            </div>

            <table class="mb-0 table table-bordered table-hover" id="added-table" style="overflow: auto;">

                <thead>
                    <tr>
                        <th>Api Number</th>
                        <th>Invoice Qty</th>
                        <th>Invoice Qty</th>
                        <th>Customer Name</th>
                        <th>Rep Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="apiNumber">@item.ApiNumber</span></td>
                            <td>@item.InvoiceQty</td>
                            <td>@item.InvoiceValue</td>
                            <td>@item.CustomerName</td>
                            <td>@item.RepName</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" id="submit-btn" class="btn btn-primary">Submit</button>-->
@*</form>*@
<!--</div>
    </div>

</div>-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>

<div class="container-fluid">
    @*<div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Filters</h5>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="rep-filter">Filter by Representative Name:</label>
                        <select class="form-control" id="rep-filter">
                            <option value="">All</option>
                            @foreach (var rep in Model.Select(x => x.RepName).Distinct())
                            {
                                <option value="@rep">@rep</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="customer-filter">Filter Customer Name:</label>
                        <select class="form-control" id="customer-filter">
                            <option value="">All</option>
                            @foreach (var customerName in Model.Select(x => x.CustomerName).Distinct())
                            {
                                <option value="@customerName">@customerName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" id="submit-btn" class="btn btn-primary">Submit</button>
        </div>
    </div>*@

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Api List</h5>
            <table class="mb-0 table table-bordered table-hover" id="api-list-table" style="overflow: auto;">
                <thead>
                    <tr>
                        <th>Api Number</th>
                        <th>Invoice Qty</th>
                        <th>Invoice Value</th>
                        <th>Customer Name</th>
                        <th>Rep Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="apiNumber">@item.ApiNumber</span></td>
                            <td>@item.InvoiceQty</td>
                            <td>@item.InvoiceValue</td>
                            <td>@item.CustomerName</td>
                            <td>@item.RepName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#api-list-table').DataTable();
    });
</script>



@section Modal {
    <div class="modal fade" id="approved-pi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">API Approval - <span id="api-number-heading"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="approved-pi-modal-body" class="modal-body"></div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                </div>*@

                <div class="modal-footer">
                   @* <button type="button" class="btn btn-primary" id="submitButton">Save Changes</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
}
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



    <script>
        $(document).ready(function () {
            $('.apiNumber').click(function () {
                $('#approved-pi-modal-body').html(null);
                let apiNumber = $(this).text();
                $('#api-number-heading').text(apiNumber);
                $.post("@Url.Action("GetPamModalBondPartial", "Sales")", { apiNumber }, function (result) {
                    $('#approved-pi-modal-body').html(result);
                });
                $('#approved-pi').modal({
                    show: true,
                    backdrop: false
                });
            });
            var apiDataList = [];
            function updateTotalValue() {
                var totalValue = 0.00;
                $(apiDataList).each(function () {
                    totalValue += Number(this.DelValue);
                });
                $('#total-value').html(totalValue.toFixed(2));
                console.log('totalValue', totalValue);
            }
            $('#datatable').DataTable();


            $(document).ready(function () {
                var table = $('#api-list-table').DataTable({
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($(column.header()))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            select.append('<option value="">All</option>');

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });

                            //var searchInput = $('<input type="text" class="form-control form-control-sm" placeholder="Search...">')
                            //    .appendTo($(column.header()))
                            //    .on('keyup change', function () {
                            //        column.search($(this).val()).draw();
                            //    });

                            //$(searchInput).add(select).on('click', function (e) {
                            //    e.stopPropagation();
                            //});
                        });
                    }
                });

                $('#api-list-table thead').on('click', 'th', function () {
                    $(this).find('input, select').focus();
                });
            });

            // Event listener for submit button click
            $('#submitButton').click(function () {
                var apiNumber = $('.apiNumber').text(); // Replace with the actual API number
                var userName = $('.apiNumber').text();  // Replace with the actual user name
                //var userName = 'John Doe'; // Replace with the actual user name

                // Send notification
                var notification = 'PI Approval request received (' + apiNumber + ') from ' + userName;
                alert(notification); // You can replace this with your custom notification logic
            });



        });</script>


}