@model List<PIAdvisingApp.ViewModels.PiAdvisingBond>

@{
    ViewBag.Title = "PiAdvisingBond List";
}

<h2>PiAdvisingBond List</h2>

<table id="pi-advising-bond-table" class="table table-striped">
    <thead>
        <tr>
            <th>ApiNumber</th>
            <th>Val</th>
            <th>Qty</th>
            <th>EntryDate</th>
            <th>BookingNos</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ApiNumber</td>
                <td>@item.Val</td>
                <td>@item.Qty</td>
                <td>@item.EntryDate.ToShortDateString()</td>
                <td>@item.BookingNos</td>
                <td>@item.Remarks</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#pi-advising-bond-table').DataTable();
        });
    </script>
}
