@model IEnumerable<PIAdvisingApp.ViewModels.DashboardViewModel>

@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
</div>
@{
    // Call the Test action method from the SalesController with repId set to 37
    var testActionUrl = Url.Action("Test", "Sales", new { repId = 37 });
}

<a href="@testActionUrl">Click here to test with repId = 37</a>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Representative Name</th>
                <th>Customer Name</th>
                <th>Category Name</th>
                <th>Total Booking Value</th>
                <th>Total Cancel Value</th>
                <th>Total Delivered Value</th>
                <th>Total LC Received Value</th>
                <th>Total LC Balance</th>
                <th>Avg Delivery Percentage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RepresentativeName</td>
                    <td>@item.CustomerName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.TotalBookingVal</td>
                    <td>@item.TotalCancelValue</td>
                    <td>@item.TotalDeliveredlValue</td>
                    <td>@item.TotalLCrcvValue</td>
                    <td>@item.Totallcbalance</td>
                    <td>@item.Avgdlvper</td>
                </tr>
            }
        </tbody>
    </table>
}
