<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords" content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4" />

    <!-- Title -->
    <title>PI Advising</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/assets/img/brand/favicon.png" type="image/x-icon" />

    <!-- Icons css -->
    <link href="~/Content/assets/css/icons.css" rel="stylesheet">

    <!--  bootstrap css-->
    <link id="style" href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- style css -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/style-dark.css" rel="stylesheet">
    <link href="~/Content/assets/css/style-transparent.css" rel="stylesheet">

    <!---Skinmodes css-->
    <link href="~/Content/assets/css/skin-modes.css" rel="stylesheet" />

    @RenderSection("Css", required: false)
</head>

<body class="ltr main-body app sidebar-mini">

    <!-- Loader -->
    <div id="global-loader">
        <img src="~/Content/assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /Loader -->
    <!-- Page -->
    <div class="page">

        <div>
            <!-- main-header -->
            @Html.Partial("_MainHeader")
            <!-- /main-header -->
            <!-- main-sidebar -->
            @Html.Partial("_MainSidebar")
            <!-- main-sidebar -->
        </div>

        <!-- main-content -->
        <div class="main-content app-content">

            <!-- container -->
            <div class="main-container container-fluid">

                @RenderBody()

            </div>
            <!-- /Container -->
        </div>
        <!-- /main-content -->
        <!-- Country-selector modal-->
        <div class="modal fade" id="country-selector">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom">
                        <h6 class="modal-title">Choose Country</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <ul class="row p-3">
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block active">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/us_flag.jpg" class="me-3 language"></span>Usa
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/italy_flag.jpg" class="me-3 language"></span>Italy
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/spain_flag.jpg" class="me-3 language"></span>Spain
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/india_flag.jpg" class="me-3 language"></span>India
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/french_flag.jpg" class="me-3 language"></span>France
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/mexico.jpg" class="me-3 language"></span>Mexico
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/singapore.jpg" class="me-3 language"></span>Singapore
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/poland.jpg" class="me-3 language"></span>Poland
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/austria.jpg" class="me-3 language"></span>Austria
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/russia_flag.jpg" class="me-3 language"></span>Russia
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/germany_flag.jpg" class="me-3 language"></span>Germany
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/argentina.jpg" class="me-3 language"></span>Argentina
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/brazil.jpg" class="me-3 language"></span>Brazil
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/uae.jpg" class="me-3 language"></span>U.A.E
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/china.jpg" class="me-3 language"></span>China
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/uk.jpg" class="me-3 language"></span>U.K
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/malaysia.jpg" class="me-3 language"></span>Malaysia
                                </a>
                            </li>
                            <li class="col-lg-6 mb-2">
                                <a href="#" class="btn btn-country btn-lg btn-block">
                                    <span class="country-selector"><img alt="" src="~/Content/assets/img/flags/canada.jpg" class="me-3 language"></span>Canada
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Country-selector modal-->
        <!-- Message Modal -->
        <div class="modal fade" id="chatmodel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-right chatbox" role="document">
                <div class="modal-content chat border-0">
                    <div class="card overflow-hidden mb-0 border-0">
                        <!-- action-header -->
                        <div class="action-header clearfix">
                            <div class="float-start hidden-xs d-flex ms-2">
                                <div class="img_cont me-3">
                                    <img src="~/Content/assets/img/faces/6.jpg" class="rounded-circle user_img" alt="img">
                                </div>
                                <div class="align-items-center mt-0">
                                    <h4 class="text-white mb-0 font-weight-semibold">Daneil Scott</h4>
                                    <span class="dot-label bg-success"></span><span class="me-3 text-white">online</span>
                                </div>
                            </div>
                            <ul class="ah-actions actions align-items-center">
                                <li class="call-icon">
                                    <a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal" data-bs-target="#audiomodal">
                                        <i class="fe fe-phone"></i>
                                    </a>
                                </li>
                                <li class="video-icon">
                                    <a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal" data-bs-target="#videomodal">
                                        <i class="fe fe-video"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="" data-bs-toggle="dropdown" aria-expanded="true">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><i class="fa fa-user-circle"></i> View profile</li>
                                        <li><i class="fa fa-users"></i>Add friends</li>
                                        <li><i class="fa fa-plus"></i> Add to group</li>
                                        <li><i class="fa fa-ban"></i> Block</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fe fe-x-circle text-white"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- action-header end -->
                        <!-- msg_card_body -->
                        <div class="card-body msg_card_body">
                            <div class="chat-box-single-line">
                                <abbr class="timestamp">july 1st, 2021</abbr>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Hi, how are you Jenna Side?
                                    <span class="msg_time">8:40 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end ">
                                <div class="msg_cotainer_send">
                                    Hi Connor Paige i am good tnx how about you?
                                    <span class="msg_time_send">8:55 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    I am good too, thank you for your chat template
                                    <span class="msg_time">9:00 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end ">
                                <div class="msg_cotainer_send">
                                    You welcome Connor Paige
                                    <span class="msg_time_send">9:05 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken  born and I will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken  born and I will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start ">
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken  born and I will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/9.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="~/Content/assets/img/faces/6.jpg" class="rounded-circle user_img_msg" alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Okay Bye, text you later..
                                    <span class="msg_time">9:12 AM, Today</span>
                                </div>
                            </div>
                        </div>
                        <!-- msg_card_body end -->
                        <!-- card-footer -->
                        <div class="card-footer">
                            <div class="msb-reply d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control " placeholder="Typing....">
                                    <div class="input-group-append ">
                                        <button type="button" class="btn btn-primary ">
                                            <i class="far fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- card-footer end -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer opened -->
        <div class="main-footer">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="container-fluid pt-0 ht-100p">
                    Copyright © @DateTime.Now.Year <a href="javascript:void(0);" class="text-primary">KDS Accessories Ltd</a> . All rights reserved
                </div>
            </div>
        </div>
        <!-- Footer closed -->
    </div>
    <!-- End Page -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-arrow-up"></i></a>

    <!-- JQuery min js -->
    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/Content/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Internal Chart.Bundle js-->
    <script src="~/Content/assets/plugins/chart.js/Chart.bundle.min.js"></script>

    <!-- Moment js -->
    <script src="~/Content/assets/plugins/moment/moment.js"></script>

    <!-- INTERNAL Apexchart js -->
    <script src="~/Content/assets/js/apexcharts.js"></script>

    <!--Internal Sparkline js -->
    <script src="~/Content/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- Moment js -->
    <script src="~/Content/assets/plugins/raphael/raphael.min.js"></script>

    <!--Internal  Perfect-scrollbar js -->
    <script src="~/Content/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/assets/plugins/perfect-scrollbar/p-scroll.js"></script>

    <!-- Eva-icons js -->
    <script src="~/Content/assets/js/eva-icons.min.js"></script>

    <!-- right-sidebar js -->
    <script src="~/Content/assets/plugins/sidebar/sidebar.js"></script>
    <script src="~/Content/assets/plugins/sidebar/sidebar-custom.js"></script>

    <!-- Sidebar js -->
    <script src="~/Content/assets/plugins/side-menu/sidemenu.js"></script>

    <!-- Sticky js -->
    <script src="~/Content/assets/js/sticky.js"></script>

    <!--Internal  index js -->
    <script src="~/Content/assets/js/index.js"></script>

    <!-- Chart-circle js -->
    <script src="~/Content/assets/js/circle-progress.min.js"></script>

    <!-- Internal Data tables -->
    <!-- DATA TABLE JS -->
    <script src="~/Content/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/assets/js/table-data.js"></script>

    <!-- INTERNAL Select2 js -->
    <script src="~/Content/assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/assets/js/select2.js"></script>

    <!-- Theme Color js -->
    <script src="~/Content/assets/js/themecolor.js"></script>

    <!-- custom js -->
    <script src="~/Content/assets/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Modal", required: false)
</body>
</html>