@model List<PIAdvisingApp.ViewModels.PiAdvisingBondMainViewModel>

@{
    ViewBag.Title = "Pending API For CM Approval";
}

@section Css {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" />

    <style>
        .tbody,
        td,
        th {
            padding: 2px !important;
            font-size: 11px !important;
        }

        /* Increase the z-index of modal backdrop */
        .modal-backdrop {
            z-index: 0 !important;
        }

        .custom-table {
            background-color: #f8f9fa; /* Replace with the desired table background color */
        }

        .table-heading {
            font-size: 20px; /* Adjust the font size as needed */
        }

        #pi-advising-bond-table th {
            font-size: 24px; /* Adjust the font size as needed */
        }
    </style>
}

<h2 class="table-heading">Submitted API (Bonds)</h2>

<div class="table-responsive">
    <table class="mb-0 table table-bordered table-hover" id="added-table">
        <thead>
            <tr>
                <th class="text-center">Submission Date</th>
                <th class="text-center">Api Number</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Value</th>

                <th class="text-center">Customer Name</th>
                <th class="text-center">Representative Name</th>
                @*<th class="text-center">Status</th>*@
            </tr>
        </thead>
        <tbody style="max-height: 150px; overflow-y: scroll;">
            @foreach (var item in Model)
            {
                string status = "";
                string statusClass = "";
                int randomStatus = new Random().Next(1, 4);
                switch (randomStatus)
                {
                    case 1:
                        status = "";
                        statusClass = "status-submitted";
                        break;
                    case 2:
                        status = "approved by bond team";
                        statusClass = "status-approved";
                        break;
                    case 3:
                        status = "revised by bond team";
                        statusClass = "status-revised";
                        break;
                }

                <tr data-status="@status">
                    <td class="text-center">@item.ApiDate.ToString("d-MMM-yy")</td>
                    <td class="text-center"><span class="apiNumber">@item.ApiNumber</span></td>
                    <td class="text-center">@item.InvoiceQty</td>
                    <td class="text-center">@item.InvoiceValue</td>

                    <td class="text-center">@item.CustomerName</td>
                    <td class="text-center">@item.RepName</td>
                    @*<td class="text-center @statusClass" style="display:none">@status</td>*@
                </tr>
            }

        </tbody>
    </table>
</div>


<div id="modal-container"></div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#pi-advising-bond-table').DataTable();

            $('.view-button').click(function () {
                var apiNumber = $(this).closest('tr').find('.api-number').text();
                var url = '@Url.Action("GetBondModal", "Bonds")';

                $.get(url, { apiNumber: apiNumber }, function (data) {
                    $('#modal-container').html(data);
                    $('#bond-modal').modal('show');
                });
            });
        });
    </script>
}
